<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Document</title>
    <style>
        html,
        body {
            height: 100%;
            overflow: auto;
        }

        .row {
            border: 2px solid #008000;
        }
    </style>
    <style>
        .Alert__close {
            font-weight: bold;
            cursor: pointer;
        }

        .Alert--Success {
            color: green;
        }

        .Alert--Warning {
            color: #aa0;
        }

        .Alert--Error {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/lodash.min.js"></script>
</head>


<body>
    <main class="container">
        <div class="row" title="component">
            <div class="col-sm-12">
                <h1>component</h1>
            </div>
        </div>
        <div class="row" id="for-slot">
            <div class="col-md-4">
                <div class="parent">
                    <child>
                        <template slot-scope="props">
                            <span style="color:red">parent</span>
                            <span style="color:rgb(55, 0, 128)">{{ props.text }}</span>
                        </template>
                    </child>
                </div>
            </div>

            <div class="col-md-4">
                <alert type="success" data-descript="zherjfalksjdfkasjdfl;ajs;dfj;">
                    <strong>Success!</strong> Looks good to me!
                </alert>
                <alert type="warning">
                    <strong>Warning!</strong> Something not good.
                </alert>
                <alert type="error">
                    <strong>Error!</strong> Oooops...
                </alert>
            </div>
        </div>
        <script src="./js/components/component-slot.js"></script>
        <div class="row" title="component">
            <div class="col-md-6">
                <h1>component</h1>
            </div>
            <div id="component-price" class="col-md-6">
                <currency-input label="Price" v-model="price"></currency-input>
                <currency-input label="Shipping" v-model="shipping"></currency-input>
                <currency-input label="Handling" v-model="handling"></currency-input>
                <currency-input label="Discount" v-model="discount"></currency-input>
                <p>Total: ${{ total }}</p>
            </div>
            <script src="./js/currency-validator.js"></script>
            <script src="./js/components/component-price.js"></script>
        </div>

        <div class="row" id="for-transition">
            <div class="col-sm-4">
                <h1>
                    <button @click="show = !show">
                        TRANSITION
                    </button>
                </h1>
                <p>总共有5s时间，打开调试工具观察添加的样式</p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <ul>
                    <li v-for="msg in msgs">
                        {{msg}}
                    </li>
                </ul>
            </div>
            <div class=" col-sm-4  col-xs-6">
                <transition name="  fade">
                    <ul v-if="show">
                        <li v-for="msg in msgs">
                            {{msg}}
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <script src="./js/components/transition.js "></script>

        <div class="row" id="for-component">
            <div is="s-component" message="use is">

            </div>
            <child my-message="child message!"></child>
            <div class="col-sm-4">
                <currency-input v-model="price"></currency-input>
            </div>
            <div class="col-sm-4">
                <p>{{ total }}</p>
                <child-total v-on:something="increamentTotal"> </child-total>
                <child-total v-on:something="increamentTotal"> </child-total>
            </div>
            <div class="col-sm-4">
                <my-component></my-component>
            </div>
            <div class="col-sm-4">
                <input v-model="parentMsg">
                <child :my-message="parentMsg"></child>
            </div>
        </div>
        <script src="./js/components/component.js"></script>

        <div class="row" title="forms">
            <div class="col-sm-12">
                <h1>Forms</h1>
            </div>
        </div>
        <div class="row" id="for-forms">
            <div class="col-sm-4">
                <input v-model="message.normal" placeholder="edit me">
                <p>Message is: {{ message.normal }}</p>
            </div>
            <div class="col-sm-4">
                <span>Multiline message is:</span>
                <p style="white-space: pre-line;">{{ message.normal }}</p>
                <br>
                <textarea v-model="message.normal" placeholder="add multiple lines">ASDFASDF</textarea>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{ checked }}</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4">
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>
            </div>
            <div class="col-sm-4">
                <select v-model="selected">
                    <option disabled value="defult">请选择</option>
                    <option value="AA">A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: {{ selected }}</span>
            </div>
            <div class="col-sm-4">
                <select v-model="selectedArray" multiple style="width: 50px;">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <br>
                <span>Selected: {{ selectedArray }}</span>
            </div>
            <div class="col-sm-4">
                <select v-model="selected">
                    <option value="">请选择</option>
                    <option v-for="option in options" v-bind:value="option.value"> {{ option.text }}</option>
                </select>
                <span>Selected: {{ selected }}</span>
            </div>
            <div class="col-sm-4">
                动态值:{{ctg.value}}
                <input type="checkbox" v-model="ctg.value" v-bind:true-value="ctg.vt" v-bind:false-value="ctg.vf">
            </div>
        </div>
        <script src="./js/components/forms.js"></script>

        <div class="row">
            <div class="col-sm-6">
                <ul id="vFwvI">
                    <li v-for="(item,index) of items">
                        {{ item.message }} : {{ parentMessage }} - {{ index }} - {{ item.message }}
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul id="v-for-object" class="demo">
                    配合
                    <em>template</em> 实现“斑马线”效果
                    <template v-for="(value, key,index) in object">
                        <li v-if="index%2===0">
                            {{index}}:{{ value }}——{{key}}
                        </li>
                        <li v-else :style="styleObj">
                            {{index}}:{{ value }}——{{key}}
                        </li>
                    </template>
                    <li v-for="n in evenNumbers">{{ n }}</li>
                    嵌套for循环,调用function
                    <li v-for="n in even(numbers)" :data-index="object['lastName']">{{ n }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="todo-list-example">
                    <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo"> 绑定自定义事件、使用is
                    <ul>
                        <li is="tLe-todo-item" v-for="(todo, index) in todos" :key="todo.id" :title="todo.title" @myremove="todos.splice(index, 1)"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>

        <script src="./js/components/v-for-with-v-if.js">
        </script>

        <div class="row" title="events">
            <div class="col-sm-12">
                <h1>Events</h1>
                <p>keydown keypress keup</p>
                <p>又需不需要模拟按压事件？</p>
            </div>
        </div>
        <div class="row" id="for-events">
            <div class="col-sm-6">
                <!-- Alt + C -->
                <input @keyup.alt.67="events" placeholder='@keyup.alt.67="events" '>
                <input @keydown.alt.67="events" placeholder='@keydown.alt.67="events" '>

                <!-- Ctrl + Click -->
                <div @click.ctrl="events">Do something</div>
            </div>
        </div>
        <script src="./js/components/events.js"></script>
    </main>
    <br>
    <main id="app" class="container">
        <div class="row">
            <div class="col-sm-6">
                <p :title="message+messageTitle" :data-title="message">
                    hover查看title tips {{ seen ? 'show' : 'hidden' }}
                </p>
                <p>Original message{{ message}}</p>
                <p>JavaScritp表达式{{ message.split('').reverse().join('') }}</p>
            </div>
            <div class="col-sm-6">
                <label>v-model双向绑定</label>
                <input type="text" v-model="todoItem">
                <button v-on:click="addToList">添加到List</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>条件</label>
                <button v-on:click="toggleSeen">{{toggleText}}</button>
            </div>
            <div v-if="seen" class="col-sm-6">
                <label>循环</label>
                <button v-on:click="removeFromList">移除项目</button>
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>组件循环</label>
                <button v-on:click="removeFromList">移除项目</button>
                <button @click="removeFromList">@v-on/：v-bind</button>
                <ol>
                    <todo-item v-for="todo in todos" :item="todo" :key="todo.text"> </todo-item>
                </ol>
            </div>
            <div class="col-sm-6">
                <p>
                    <label for=""> Computed message</label>{{ reversedMessage}} 如果需要多处使用经过处理后得到的data，使用计算属性会比JavaScript表达式合适
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="watch-example">
                    <template v-if="seen">
                        <label>点击hidden按钮则显示观察者demo</label>
                    </template>
                    <template v-else>
                        <label>观察者&:style=""</label>
                        <p>
                            Ask a yes/no question:
                            <input v-model="question">
                        </p>
                        <div>
                            <p>{{ answer }}
                                <img v-if="imgSrc" :style="{width:imgStyleWidth}" :src="imgSrc">
                            </p>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-sm-6">
                <template v-if="loginType">
                    <label>Username</label>
                    <input placeholder="Enter your username" key="username">
                </template>
                <template v-else>
                    <label>Email</label>
                    <input placeholder="Enter your email address">
                </template>
                <button @click="toggleLoginType">toggleLoginType</button>
                事件处理
                <div id="example-1">
                    <button @click="counter += 1">The button above has been clicked {{ counter }} times.</button>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/main.js"></script>
    <br>
</body>

</html>