node_modules
project/microsite/public/bootstrap 2.3
project/microsite/db/config.js
project/microsite/config/db.js
project/microsite/certificate/
project/staticSite/node_modules
project/VuePractice/resource
/lib/zTree-zTree_v3-master
practice/windowise.js
lib/material_design/ignore