<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/element-ui.css">
</head>

<body>
    <div id="app">
        <h1>日志</h1>
        <el-row v-cloak>
            <el-col
                :span="12"
                v-for="(activities, index) in [appState.activities,appState.activitiesError]"
                :key="index">
                <el-timeline :reverse="true">
                    <el-timeline-item
                        v-for="(activity,indexSub) in activities"
                        :key="indexSub"
                        placement="top"
                        :color="activity.color"
                        :timestamp="activity.timestamp">
                        <pre>{{activity.content}}</pre>
                    </el-timeline-item>
                </el-timeline>
            </el-col>
        </el-row>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/element-ui.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/dayjs.min.js"></script>
    <script src="./index.js"></script>
</body>

</html>