<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="referrer" content="no-referrer|no-referrer-when-downgrade|origin|origin-when-crossorigin|unsafe-url"> -->
    <meta name="referrer" content="origin">
    <title>Document</title>


    <script src="/javascripts/common/jquery-3.2.1.js"></script>
    <script src="/javascripts/common/vue.js"></script>
    <script src="/javascripts/common/vuex.js"></script>
    <script src="/javascripts/common/axios.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <style>
        .form {
            display: flex;
            margin: 10px;
        }

        .form input {
            flex: 1;
        }

        .form input:last-child {
            flex: .5;
        }

        .imgs-wrapper {
            position: relative;
            margin: 10px;
        }

        .imgs-wrapper ul li {
            float: left;
            width: 263px;
            list-style: none;
        }

        .imgs-wrapper ul li img {
            display: block;
            width: 100%;
        }
    </style>
    <style>
        #scroll-test {
            height: 500px;
        }

        #scroll-test div {
            transform: translate(10px, 100xp);
        }

        #scroll-test img {
            width: 100px;

            margin: 0 auto;
        }
    </style>
    <script>
        let app;
        let referrer = location.host;


        $(function () {
            app = new Vue({
                el: "#app",
                data() {
                    return {
                        info: {
                            name: "",
                            password: "",
                            url: "https://www.baidu.com"
                        },
                        srcArray: []
                    }
                },
                computed: {
                    srcs: function () {
                        let srcs = [],
                            srcsItem = [],
                            stamp0,
                            stamp1, stamp2;

                        for (let index = 0; index < this.srcArray.length; index++) {
                            const element = this.srcArray[index];
                            if (index % 3 === 0) {
                                srcsItem = [];
                                srcs.push(srcsItem);
                            }
                            srcsItem.push(element);
                        }
                        return srcs;
                    }
                },
                methods: {
                    getScreenshot() {
                        var jqxhr = $.ajax({
                            url: "/ajax/screenshot",
                            method: "POST",
                            data: this.info
                        }).done((result) => {
                            if (result.rel && result.data) {
                                this.srcArray.unshift(result.data);
                            }
                            console.log("success");
                        }).fail(function () {
                            console.log("error");
                        }).always(function () {
                            console.log("complete");
                        });

                        /*                         axios.post("ajax/screenshot", {
                                                        info: this.info
                                                    })
                                                    .then(response => {
                                                        if (200 === response.status) {
                                                            if (response.data.rel) {
                                                                this.srcArray.unshift(response.data.path);
                                                            }
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.log(error);
                                                    })
                         */
                    }
                }
            });
        })
    </script>

</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="form">
                    <input class="form-control" placeholder="username" v-model="info.name">
                    <input class="form-control" placeholder="password" v-model="info.password" type="password">
                    <input class="form-control" placeholder="target site url" v-model="info.url">
                    <input type="submit" class="btn btn-primary" value="getScreenshot" @click="getScreenshot">
                </div>
            </div>
            <div class="row" v-for="srcArray in srcs">
                <div class="col-lg-4" v-for="src in srcArray">
                    <img class="img-circle" :src="src" alt="Generic placeholder image" width="75%">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                        cursus magna.</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">View details »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>