<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="text" id="user">
        <input type="password" id="password" >
        <input type="file" id="thumbnail">
        <input type="submit">
    </form>
    <h1>
        <%= args %>
    </h1>
</body>

</html>