body {
    background: linear-gradient(cyan, transparent), linear-gradient(225deg, magenta, transparent), linear-gradient(45deg, yellow, transparent);
    display: flex;
    flex-flow: column nowrap;
    header {
        padding: 5em 0;
    }
    main {
        flex-grow: 1;
        margin: 0 auto;
        div {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    footer {
        padding: 5em 0;
    }
    .hello {
        color: #f6ff;
        background: url('./favicon.ico') no-repeat;
    }
}