<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include('./common/lib'); %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="app">
        <ul>
          <li v-for="href in hrefs">
            <a :href="href[1]">{{href[0]}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

<script>
  let hrefs = $('<textarea />').html(`<%= hrefs %>`).text();
  hrefs = JSON.parse(hrefs);
  let app = new Vue({
    el: "#app",
    data() {
      return {
        hrefs,
        qita:""
      }
    }
  });
</script>

</html>