{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "comment": "// plugins 属性告诉 Babel 要使用哪些插件，插件可以控制如何转换代码。",
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
