<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        .row {
            border: 2px solid #008000;
        }
    </style>
</head>

<body>
    <main class="container">
        <div id="app">
            <div class="row">
                <div class="col-sm-6">
                    <span :title="messageTitle" :data-title="message">
                        {{ message }}
                    </span>
                </div>
                <div class="col-sm-6">
                    <label>v-model双向绑定</label>
                    <input type="text" v-model="todoItem">
                    <button v-on:click="addToList">添加到List</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>条件</label>
                    <button v-on:click="toggleSeen">{{toggleText}}</button>
                </div>
                <div v-if="seen" class="col-sm-6">
                    <label>循环</label>
                    <button v-on:click="removeFromList">移除项目</button>
                    <ol>
                        <li v-for="todo in todos">
                            {{ todo.text }}
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div v-if="seen" class="col-sm-12">
                    <label>循环</label>
                    <button v-on:click="removeFromList">移除项目</button>
                    <ol>
                        <todo-item v-for="todo in todos"  v-bind:todo="todo"></todo-item>
                    </ol>
                </div>
            </div>
        </div>
    </main>

    <script>
        // 定义名为 todo-item 的新组件
        Vue.component('todo-item', {
            props: [
                'todo'
            ],
            template: '<li>{{ todo.text }}</li>'
        })
        var app = new Vue({
            el: "#app",
            data: () => {
                return {
                    message: '声明式渲染',
                    messageTitle: "创建时间：" + new Date().toLocaleString(),
                    seen: true,
                    toggleText: "hidden",
                    todoItem: "",
                    todos: [{
                        text: '学习 JavaScript'
                    }, {
                        text: '学习 Vue'
                    }, {
                        text: '整个牛项目'
                    }]
                };
            },
            methods: {
                toggleSeen: function () {
                    this.$data.seen = !this.$data.seen;
                    this.$data.toggleText = this.$data.seen ? "hidden" : "show";
                    this.message = this.message.split('').reverse().join('');
                },
                addToList: function () {
                    if (this.todoItem) {
                        this.todos.push({
                            text: this.todoItem
                        });
                        this.todoItem = "";
                    }
                },
                removeFromList: function () {
                    var item = this.todos.pop();
                    this.todoItem = (item && item.text);
                }
            }
        })
    </script>
</body>

</html>