<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Document</title>
    <script src="./vue.js"></script>
    <script src="./axios.min.js"></script>
    <script src="./lodash.min.js"></script>

    <style>
        html,
        body {
            height: 100%;
        }

        .row {
            border: 2px solid #008000;
        }
    </style>
</head>

<body>
    <main id="app" class="container">
        <div class="row">
            <div class="col-sm-6">
                <p :title="message+messageTitle" :data-title="message">
                    hover查看title tips {{ seen ? 'show' : 'hidden' }}
                </p>
                <p>Original message{{ message}}</p>
                <p>JavaScritp表达式{{ message.split('').reverse().join('') }}</p>
            </div>
            <div class="col-sm-6">
                <label>v-model双向绑定</label>
                <input type="text" v-model="todoItem">
                <button v-on:click="addToList">添加到List</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>条件</label>
                <button v-on:click="toggleSeen">{{toggleText}}</button>
            </div>
            <div v-if="seen" class="col-sm-6">
                <label>循环</label>
                <button v-on:click="removeFromList">移除项目</button>
                <ol>
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>组件循环</label>
                <button v-on:click="removeFromList">移除项目</button>
                <button @click="removeFromList">@v-on/：v-bind</button>
                <ol>
                    <todo-item v-for="todo in todos" v-bind:item="todo"> </todo-item>
                </ol>
            </div>
            <div class="col-sm-6">
                <p>
                    <label for=""> Computed message</label>{{ reversedMessage}} 如果需要多处使用经过处理后得到的data，使用计算属性会比JavaScript表达式合适
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>观察者</label>
                <div id="watch-example">
                    <p>
                        Ask a yes/no question:
                        <input v-model="question">
                    </p>
                    <div>
                        <p>{{ answer }}
                            <img v-if="imgSrc" :style="{width:imgStyleWidth}" :src="imgSrc">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p>
                    <label for=""> Computed message</label>{{ reversedMessage}} 如果需要多处使用经过处理后得到的data，使用计算属性会比JavaScript表达式合适
                </p>
            </div>
        </div>
    </main>


    <script>
        // 定义名为 todo-item 的新组件
        Vue.component('todo-item', {
            props: [
                'item'
            ],
            template: '<li>{{ item.text }}</li>'
        })

        var app = new Vue({
            el: "#app",
            // template: '<li>{{ message }}</li>',
            data: function () {
                return {
                    message: '声明式渲染',
                    messageTitle: "创建时间：" + new Date().toLocaleString(),
                    seen: true,
                    toggleText: "hidden",
                    todoItem: "",
                    todos: [{
                        text: '学习 JavaScript'
                    }, {
                        text: '学习 Vue'
                    }, {
                        text: '整个牛项目'
                    }],
                    preFix: "Shone",
                    suffix: "Lone",
                    question: '',
                    answer: "I cannot give you an answer until you ask a question!",
                    imgSrc: '',
                    imgStyleWidth: '20%'
                };
            },
            computed: {
                // 计算属性的 getter
                reversedMessage: function () {
                    // `this` 指向 vm 实例
                    return this.message.split('').reverse().join('')
                },
                fullName: {
                    // getter
                    get: function () {
                        return this.preFix + ' Sing ' + this.suffix;
                    },
                    // setter
                    set: function (newValue) {
                        var names = newValue.split(' ')
                        this.preFix = names[0]
                        this.suffix = names[names.length - 1]
                    }
                }
            },
            methods: {
                // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
                // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
                // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
                // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
                // 请参考：https://lodash.com/docs#debounce
                getAnswer: _.debounce(
                    function () {
                        if (this.question.indexOf('?') === -1) {
                            this.answer = 'Questions usually contain a question mark. ;-)'
                            return
                        }
                        this.answer = 'Thinking...';
                        this.imgSrc = '';
                        var vm = this //
                        axios.get('https://yesno.wtf/api')
                            .then(function (response) {
                                vm.answer = _.capitalize(response.data.answer);
                                vm.imgSrc = _.capitalize(response.data.image);
                            })
                            .catch(function (error) {
                                vm.answer = 'Error! Could not reach the API. ' + error
                            })
                    },
                    // 这是我们为判定用户停止输入等待的毫秒数
                    1000
                ),
                toggleSeen: function () {
                    this.$data.seen = !this.$data.seen;
                    this.$data.toggleText = this.$data.seen ? "hidden" : "show";
                    this.message = this.message.split('').reverse().join('');
                },
                addToList: function () {
                    if (this.todoItem) {
                        this.todos.push({
                            text: this.todoItem
                        });
                        this.todoItem = "";
                    }
                },
                removeFromList: function () {
                    var item = this.todos.pop();
                    this.todoItem = (item && item.text);
                }
            },
            watch: {
                // 如果 `question` 发生改变，这个函数就会运行
                question: function (newQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.getAnswer()
                }
            }
        })
        app.$watch("message", (newVal, oldVal) => {
            console.log(newVal + "\n" + oldVal);
        })
    </script>
</body>

</html>